.fc {
  color: #1f2937; /* text-gray-800 */
  font-family: 'Inter', sans-serif;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(59,130,246,0.15); /* bg-primary bg-opacity-20 */
}

.fc .fc-event {
  border-radius: 0.375rem; /* rounded-md */
  padding: 0.125rem 0.25rem; /* px-1 py-0.5 */
  background-color: rgb(156 191 162); /* bg-primary */
  color: white;
}

.fc *{
  border: none !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child), .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  background-color: white;
  color: rgb(144 164 174 / var(--tw-text-opacity, 1)); /* text-gray-400 */
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child):hover, .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child):hover {
  color: rgb(156 191 162); /* text-gray-500 */
  border: none;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child).fc-button-active, .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child).fc-button-active {
  background-color: rgb(156 191 162 / var(--tw-bg-opacity, 0.2));
  color: rgb(144 164 174 / var(--tw-text-opacity, 1)); /* text-gray-400 */
}


