@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'primeicons/primeicons.css';
@import "tailwindcss" important;


@layer base {
	html, body, #app {
		background-color: #FAFAFA; /* bgLight */
		color: #333333; /* textDark */
		font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
	}
}

@theme {
  --color-green_pastel: #9CBFA2;
  --color-blue_pastel: #6E8B94;
  --color-beige_pastel: #D3C4A6;
  --color-brown_pastel: #F5EEDC;
  --color-beige-pastel : #F5EEDC;
  --color-lighBlue : #90A4AE;
}

